.App {
	text-align: center;
}

.navbar-collapse {
	text-align: right;
}

.modal-content {
	border-radius: 30px;
	background: rgb(48 52 60);
	color: #d7d0d0;
}

.modal-header {
	border: none;
	color: white;
}

.modal-footer {
	border: none;
}

.modal-header .btn-close {
	color: white;
}

.navbar-toggler{
  background: black;
}