.contactUsContainer {
	color: white;
	text-align: center;
}

.diagonal {
	background-color: #051d2c;
	height: 100vh;
	padding-top: 5rem;
}

.contactHeader {
	text-align: center;
	width: 50%;
	margin-top: 3rem;
}

@media screen and (max-width: 991px) {
	.diagonal {
		height: auto;
	}
}

@media screen and (max-width: 1280px) {
	.contactHeader {
		margin: 0 auto;
	}
}
