.contactForm {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-right: 10rem;
}

.contactContent {
	height: 200px;
}

.postInput {
	margin: 1rem auto;
	padding: 10px;
	width: 100%;
	border: 1px solid rgb(102, 102, 102);
	border-radius: 10px;
}

.postInputSmall {
	width: 95%;
}

.contactFooter {
	width: 100%;
	justify-content: center;
}

.messageSent {
	text-align: center;
	font-size: 1.4rem;
	color: white;
	margin-right: 10rem;
}

.sendButton {
	width: 100%;
	border-radius: 10px !important;
	padding: 0.5rem !important;
}

.sendButton:hover {
	background: black;
	border-color: black;
}

.modalTitle {
	margin-left: auto;
	font-size: 2rem;
}

.contactFormContainer {
	margin-top: 5rem;
    padding: 20px;
}

@media screen and (max-width: 500px) {
	.contactForm {
		padding-right: 0rem;
	}
}
