.cardContainer {
    max-width:300px;
    border:none;
    padding-left:.5rem;
    padding-right:.5rem;
    margin: 10px;
}

.cardContainer:hover {
    transform: scale(.98);
    background: #f0fff2d4;
}

.cardBody{
    text-align: center;
    padding: 2rem;
    font-size: 1.3rem;
}

.cardKeyWord{
    font-size: 1.5rem;
}

.aboutUsHeader{
    margin: 50px auto 50px auto;
    text-align: center;
}

.diagonal {
    background-color: black;
    height: 100vh;
	transform: skewY(-11deg);
}



.homepageContainer{
    position: relative;
    color:white;
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    overflow: hidden;
}


/* Background diagonal  */

.content { 	
	max-width: 65em;
    margin: 0 auto;
    transform: skewY(11deg);
}


