.cardContainer {
	max-width: 300px;
	border: none;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-top: 2rem;
	margin: 10px;
}


.aboutUs{
	margin-top: 8rem;
	max-width: 1000px;
	margin: 8rem auto;
	justify-content: space-around;
}


.cardContainer:hover {
	transform: scale(0.98);
	background: #f0fff2d4;
}

.cardBody {
	text-align: center;
	padding: 2rem;
	font-size: 1.3rem;
}

.chart {
	width: 100%;
	max-width: 500px;
	border-radius: 15px;
}

.card {
	color: white;
	max-width: 300px;
    margin: 0 auto 3rem auto;
	font-size: 1.2rem;
}

.card h1 {
	font-size: 2rem;
}

.cardKeyWord {
	color: rgb(37 165 237);
}


.homepageContainer {
	position: relative;
	color: white;
	display: flex;
	justify-content: center;
	height: 50vh;
	align-items: center;
	overflow: hidden;
}

/* Background diagonal  */

.diagonal {
	background-color: #051d2c;
	height: 100vh;
}

.diagonal::before {
	background: #051d2c;
	width: 300px;
	height: 300px;
}

.content {
	background: #051d2c;

}

@media screen and (max-width: 800px) {
	.diagonal {
		height: inherit;
	}
}