.cardContainer {
    max-width:300px;
    border:none;
    padding-left:.5rem;
    padding-right:.5rem;
    margin: 10px;
}

.cardContainer:hover {
    transform: scale(.98);
    background: #f0fff2d4;
}

.cardBody{
    text-align: center;
    padding: 2rem;
    font-size: 1.3rem;
}

.cardKeyWord{
    font-size: 1.5rem;
}

.aboutUsHeader{
    margin: 50px auto 50px auto;
    text-align: center;
}


.homepageContainer{
    position: relative;
    color:white;
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    overflow: hidden;
}


/* Background diagonal  */

.diagonal {
    background-color: black;
	transform: skewY(-8deg);
    height: 100vh;
}

.diagonal::before{
    background:black;
    width:300px;
    height:300px;
}


.content { 	
    background:black;
	padding-left: 150px;
    padding-right: 150px;
    margin: 0 auto;
    transform: skewY(8deg);
}

@media (max-width: 705px) {
    .diagonal {
        height: 100%;
    }
    .content { 	
        padding-left: 0px;
        padding-right: 0px;
    }
}


