.pressContainer{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-around 
}

.pressSection {
    max-width:1100px;
    margin: .2rem;
    padding:1rem;
    text-align: center;

}

.pressHeader {
    padding-top: 100px;
    text-align: center;
}


.pressSectionHeader{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
    background:black;
    color:white;
    padding:20px;
    border: 1px solid black;
    border-radius:10px;

}

.pressSection ul {
    list-style-type: none;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

}

.pressSection ul li {
    padding: 10px;
    border-bottom: 3px solid rgb(111, 6, 6);
    margin: 10px;
    border-radius: 10px;
    color:black;
    width: 300px;
    flex-wrap:wrap;
}


.pressSection ul li span{
    font-weight: bolder;
}

