.pressContainer{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.pressSection {
    max-width: 450px;
    margin: .2rem;
    border: 1px solid black;
    border-radius: 10px;
    padding:1rem;


}

.pressHeader {
    padding-top: 100px;
    text-align: center;
}


.pressSectionHeader{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;

}

.pressSection ul li {
    padding: 10px;
}

