.pressContainer {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pressSection {
	max-width: 1300px;
	margin: 0.2rem;
	padding: 1rem;
	align-items: end;
}

.pressHeader {
	text-align: center;
}

.pressSectionHeader {
	text-align: left;
	margin-left: 5rem;
	font-weight: bold;
}

.pressSection ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pressSection ul li:hover {
	cursor: pointer;
	transform: translate(0, -2px);
}

.pressSection ul li {
	padding: 10px;
	margin: 10px;
	color: black;
	max-width: 200px;
}

.pressSection.editorials ul li {
	width: 300px;
}

.pressSection ul li span {
	font-weight: bolder;
}

.downArrow {
	transition: transform 0.5s;
	transform: rotate(90deg);
	font-size: 30px;
	color: white;
	display: inline-block;
	margin-left: 10px;
	margin-top: 8px;
}

.pressExpandButton {
	border: none;
	padding: none;
	background: none;
}

.pressExpandButton:hover {
	transform: translate(0px, 2px);
}

.downArrow.pressedExpandButton {
	transition: transform 0.5s;
	transform: rotate(-90deg);
}

.link {
	text-decoration: none;
	color: black;
	justify-content: center;
	line-height: 2rem;
}

.primaryLink {
	padding: 3rem;
}

.pressTitle {
	font-size: 1.2rem;
	margin-top: 2rem;
}

.imageContainer {
	width: 50%;
	min-width: 300px;
}

.titleContainer {
	width: 50%;
}

.horizontalLine {
	text-align: center;
	margin-right: 5rem;
	margin-left: 5rem;
	opacity: 1;
}

.articleInfo {
	font-size: 0.8rem;
}

.primaryPressTitle {
	padding-top: 5rem;
}

.primaryPressList {
	justify-content: around;
}

@keyframes slide-in-from-left {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@media screen and (max-width: 500px) {
	.primaryPressList {
		justify-content: start;
	}

	.primaryPressTitle {
		padding-top: 0rem;
	}

	.titleContainer {
		width: 100%;
	}

    .primaryLink {
        padding: 0rem;
        padding-top: 1rem;
    }
}

@media screen and (max-width: 620px) {
    .primaryLink {
        padding: 0rem;
        padding-top: 1rem;
    }
}






